* {box-sizing: border-box;}

/* BODY */
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
}

/* HEADER */
header {
    padding: 1rem 2vw;
    display: flex;
    align-items: flex-end;
}
header div {
    padding-left: 2vw;
}
header h1 {
    color: #2d4452;
    margin: 0;
}
header p {
    color: #3E4C3E;
    margin: 0;
    letter-spacing: 2.62px;
}

/* SMALL SCREENS */
@media only screen and (max-width: 800px) {

nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
}
nav a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid 1px #aaa;
    color: #2d4452;
    }
nav .active a {
    background-color: #2d4452;
    background-image: linear-gradient(to bottom, #2d4452, #1f303a);
    color: white;
}
}   /*END OF MEDIA QUERY*/

/* BIG SCREENS */
@media only screen and (min-width: 801px) {

nav {
    border-top: solid 1px #E0E6E6;
}
nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: 1.2rem 1rem .3rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: #2d4452;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid 2px #fff;
}
nav .active a {
    background-color: #2d4452;
    border-bottom: solid 2px #8b5022;
    color: white;
}
nav a:hover {
        color: #837D72;
}
}   /*END OF MEDIA QUERY*/


/* MAIN */
main {
    padding: 1rem 2vw;
}
main h1 {
    color: #65554A;
}
main h2 {
    color: #2d4452;
    margin-bottom: .2rem;
}
main h3 {
    color: #2d4452;
    margin-top: .1rem;
}
main p {
    color: #2f3133;
    margin: 0 0 .3rem 0;
}

/* EXTERNAL LINKS */
main p a:link {
    text-decoration: none;
    color: blue;
}
main p a:visited {
    text-decoration: none;
    color: purple;
}
main p a:hover {
    text-decoration: none;
    color: green;
}
main p a:active {
    text-decoration: none;
    color: yellow;
}

/* ORDERED LISTS */
main ol {
    padding: .5rem 3vw;
    background-color: #e2e2e2;
}
main ol li {
    line-height: 120%;
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-size: .91rem;
    font-weight: 700;
    color: #2d4452;
}

/* DESCRIPTION LISTS */
main dl dt {
    color: #65554A;
    font-weight: 700;
    font-size: 1.15rem;
    width: 15.5rem;
    text-align: center;
}
main dl dd {
    color: #2d4452;
    font-size: 1.05rem;
    width: 14.5rem;
    text-align: center;
}

/* UNORDERED LISTS */
main ul {
    list-style-type: square;
}
main ul li {
    line-height: 120%;
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-size: .91rem;
}

/* FIGURE */
figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}
figure.wrapped img {
    width: 100%;
    height: auto;
}
figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

/* DIVISION GALLERY */
div.gallery {
    display: flex;
    flex-wrap: wrap;
} 
div.gallery section {
    flex-basis: 50%;
    margin: 1rem 0;
    
}
div.gallery span {
    display: block;
    text-align: center; 
    font-weight: 700;
    color: #2d4452;
}
div.gallery img {
    width: 98%;
    height: auto;
}
div.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}

/* ADDRESS */
main address {
    font-style: normal;
    background-color: #fafafa;
    padding: .5rem;
    width: 20rem;
    border: 5px double #2d4452;
    border-radius: 20px;
}
main a {
    color: #024873;
}
main a:hover {
    color: rgb(239,0,24);
}
main address a {
    text-decoration: none;
}

/* HERO IMAGE */
.bigfoothero {
    width: 100%;
    margin: 0;
}
.bigfoothero img {
    width: 100%;
    height: auto;
}


/* FORM */
.cForm fieldset {
    border: 1px solid #3E4C3E;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.cForm legend {
    color: #3E4C3E;
    font-size: .8rem;
}
.cForm label {
    margin: .5rem;
    color: #2D4452;
}
.cForm label, .cForm select, .cForm [type=text], .cForm [type=tel], .cForm [type=email], .cForm textarea {
    display: block;
}
.cForm [type=text], .cForm [type=tel], .cForm [type=email], .cForm select, .cForm textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
}
.cForm textarea {
    height: 6rem;
    width: 20rem;
}
.cForm :required {
    background-color: rgba(62,76,62,0.1);
}
.cForm [type=submit] {
    background-color: #3E4C3E;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}

/* IFRAME */
iframe {
    margin: 1rem 0;
}

/* TABLE */
table.board-members {
    width: 100%;
    border-collapse: collapse;
    margin: 2% 0;
}
table.board-members th {
    background-color: #3E4C3E;
    color: white;
    text-align: left;
    padding: .4rem 2vw;
}
table.board-members td {
    color: #2d4452;
    padding: .4rem 2vw;
}
table.board-members tr:nth-child(odd) {
    background-color: #cacaca;
}
table.board-members tr:hover {
    background-color: #909fa8;
}

/* FOOTER */
footer {
    background-color: #eaeaea;
    text-align: center;
    color: #2d4452;
    padding: 1rem 0;
    font-size: 1rem;
    clear: both;
}
footer a {
    color: #2d4452;
}

/* WIDTH CONTROL */
header, nav, main, footer {
    max-width: 70rem;
    margin: 0 auto;
}