/* BODY */
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
}

/* HEADER */
header {
/*    background-color: #eaeaea; */
    padding: 1rem 2vw;
}
header h1 {
    color: #2d4452;
    margin: 0;
}
header p {
    color: #3E4C3E;
    margin: 0;
    letter-spacing: 2.62px;
}

/* NAVIGATION */
nav {
    background-color: #837072;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.17rem;
    text-decoration: none;
    color: #2d4452;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;

}
nav li.active a {
    background-color:#2d4452;
        color: #837072;
}
nav a:hover {
    color: white;

}

/* MAIN */
main {
    padding: 1rem 2vw;

}
main h1 {
    color: #65554A;
}
main h2 {
    color: #2d4452;
    margin-bottom: .2rem;
}
main h3 {
    color: #2d4452;
    margin-top: .1rem;

}
main p {
    color: #2f3133;
    margin: 0 0 .3rem 0;
}
/* EXTERNAL LINKS */
main p a:link {
    text-decoration: none;
    color: blue;
}
main p a:visited {
    text-decoration: none;
    color: purple;
}
main p a:hover {
    text-decoration: none;
    color: green;
}
main p a:active {
    text-decoration: none;
    color: yellow;
}

/* ORDERED LISTS */
main ol {
    padding: .5rem 3vw;
    background-color: #e2e2e2;

}
main ol li {
    line-height: 120%;
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-size: .91rem;
    font-weight: 700;
    color: #2d4452;
}

/* DESCRIPTION LISTS */
main dl dt {
    color: #65554A;
    font-weight: 700;
    font-size: 1.15rem;
    width: 15.5rem;
    text-align: center;
}
main dl dd {
    color: #2d4452;
    font-size: 1.05rem;
    width: 14.5rem;
    text-align: center;
}

/* UNORDERED LISTS */
main ul {
    list-style-type: square;
}
main ul li {
    line-height: 120%;
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-size: .91rem;
}

/* ADDRESS */
main address {
    font-style: normal;
    background-color: #837072;
    padding: .5rem;
    width: 14.5rem;
    border: 5px double #2d4452;
}
main a {
    color: #024873;
}
main a:hover {
    color: rgb(239,0,24);
}
main address a {
    text-decoration: none;
}

/* FOOTER */
footer {
    background-color: #eaeaea;
    text-align: center;
    color: #2d4452;
    padding: 1rem 0;
    font-size: 1rem;
}
footer a {
    color: #2d4452;
}